{% extends 'WSCoreBundle::layout.html.twig' %}

{% block title %}
  Comment ça marche - {{ parent() }}
{% endblock title %}

{% block body %}
  <!-- how-to -->
  <div class="how-to">
    <div class="container">
      <h1 class="page-header" style="margin-top: 0;">Comment ça marche ?</h1>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1><span class="badge badge-lg">1</span></h1>
              <p>
              <p>Qui et cillum consectetur ea enim ut consectetur ad ipsum tempor id minim id sunt do sit amet.
                Occaecat cillum laboris est consequat id ut nisi sint sit sunt aliqua commodo adipisicing dolore
                deserunt. Dolor pariatur eiusmod irure aliquip aute cupidatat non nulla et.</p>
              </p>
            </div>
            <div class="col-md-12 text-center">
              <h1><span class="badge badge-lg">2</span></h1>
              <p>
              <p>Qui et cillum consectetur ea enim ut consectetur ad ipsum tempor id minim id sunt do sit amet.
                Occaecat cillum laboris est consequat id ut nisi sint sit sunt aliqua commodo adipisicing dolore
                deserunt. Dolor pariatur eiusmod irure aliquip aute cupidatat non nulla et.</p>
              </p>
            </div>
            <div class="col-md-12 text-center">
              <h1><span class="badge badge-lg">3</span></h1>
              <p>
              <p>Qui et cillum consectetur ea enim ut consectetur ad ipsum tempor id minim id sunt do sit amet.
                Occaecat cillum laboris est consequat id ut nisi sint sit sunt aliqua commodo adipisicing dolore
                deserunt. Dolor pariatur eiusmod irure aliquip aute cupidatat non nulla et.</p>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="users" style="background-image: url('{{ asset('images/freelancer2.jpg') }}')">

          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
{% endblock body %}