<!-- Modal login -->
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="Connexion" aria-hidden="true"
>
  <div class="modal-dialog" style="width: 400px;">
    <div class="modal-content">
      <div class="modal-body">
        {% include('WSUserBundle:Security:login_content.html.twig') %}
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>