<!-- Modal login -->
<div class="modal fade" id="modalRegistration" tabindex="-1" role="dialog" aria-labelledby="Connexion"
     aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="text-align: center; font-weight: bold; font-size: medium;">
          <br> Inscription en tant que
          <a href="{{ path('freelancer_registration') }}">Freelance</a>
          ou
          <a href="{{ path('client_registration') }}">Donneur de missions</a>.
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>