<!-- Modal Form -->
<div class="modal fade" id="modalform" tabindex="-1" role="dialog" aria-labelledby="Language" aria-hidden="true">
  <div class="modal-dialog" style="width: 400px;">
    <div class="modal-content">
      <div class="modal-body">

        <div class="form-group">
          <div class="control-label">
            Libelle compétence
          </div>
          <input type="text" class="form-control" id="libelle" required="required">
        </div>

        <div class="form-group">
          <div class="control-label">
            Nombre d'année d'expérience
          </div>
          <input type="number" class="form-control" min="0" id="nbae" required="required">
        </div>

        <div class="form-group" style="margin-top: 20px;">
          <div id="_loading"></div>
          <input type="submit" id="_submit" name="_submit" value="OK" class="btn btn-success"/>
        </div>

      </div>
    </div>
  </div>
</div>
