{% extends "WSUserBundle:Profile:show.html.twig" %}

{% block breadcrumb %}
    <li class="active">Missions sollicitées</li>
{% endblock breadcrumb %}

{% block sideright %}

    {% if user.missionSolicites | length != 0  %}

        <div class="panel panel-default">
            <table id="_table_tool" class="table table-striped table-hover table-dynamic" cellspacing="0">
                <thead>
                <tr>
                    <th style="text-align: center;">Mission</th>
                </tr>
                </thead>
                <tbody id="_tbody">
                {% for ms in user.missionSolicites %}

                    <tr>
                        <td style="text-align: center;">{{ ms.mission.object }}</td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}

        <center>
            <h1>
                <span class="label label-danger">Aucune missions sollicitées !</span>
            </h1>
        </center>

    {% endif %}

{% endblock sideright %}