{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
  Inscription freelance - {{ parent() }}
{% endblock title %}

{% block fos_user_content %}
  {% trans_default_domain 'FOSUserBundle' %}

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="row">
          {% include ('WSUserBundle:Registration:freelancer_content.html.twig') %}
        </div>
      </div>
    </div>
  </div>
{% endblock fos_user_content %}